body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #333;
  color: white;
  padding: 0.1rem 0;
  text-align: center;
  cursor: pointer;
}
nav {
  text-align: center;
  margin: 1rem 0;
}
nav a {
  text-decoration: none;
  color: #333;
  margin: 0 1rem;
  font-weight: bold;
}
nav a:hover {
  color: #0078d7;
}
main {
  text-align: center;
  padding: 2rem;
}
img {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  cursor: pointer;
}
.description {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d4d0d0;
  padding: 1rem;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#hide_button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  font-size: 0.8rem;
  z-index: 1001;
}

#hide_button:hover {
  background-color: #ff1c1c;
}

#playPauseBtn {
  font-size: 24px;
  /* padding: 10px 20px; */
  cursor: pointer;
  background-color: #d4d0d0;
  border: none;
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #ccc;
  margin-top: 20px;
}
footer p {
  font-size: 14px;
  color: #555;
  margin: 0;
}
