body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(132, 229, 169);
  text-align: center;
}
header {
  background-image: linear-gradient(rgb(140, 164, 214), rgb(126, 231, 250));
  color: rgb(132, 229, 169);
  padding: 0.1rem 0;
  text-align: center;
  letter-spacing: 20px;
  word-spacing: 28px;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
}

footer {
  background-color: #89fda2;
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #2fa839;
  margin-top: 0px;
}
main a {
  text-decoration: none;
  color: #7ae732;
  margin: 0 1rem;
  font-weight: bold;
}

footer p {
  font-size: 14px;
  color: #555;
  margin: 0;
}
p {
  color: black;
}
main {
  padding: 2rem;
  background-image: url(https://44.media.tumblr.com/f813653935728b0751055e9ca4b0b581/tumblr_pixgz9uuhE1uzwgsuo1_400.gif);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-left: 50px;
  border-right: 50px;
  border-left-style: groove;
  border-left-color: rgb(132, 229, 169);
  border-right-style: double;
  border-right-color: rgb(136, 204, 162);
}

.Introduction {
  text-align: center;
  font-size: 400%;
  text-shadow: 2px 2px red;
  color: rgb(121, 32, 91);
}

.Drapeau1 {
  position: absolute;
}

.Drapeau2 {
  position: absolute;
}

.MadameTussaud {
  font-size: 125%;
}

.PhotoCiel {
  border-radius: 0.5rem;
}

.PhotoMiam {
  border-radius: 0.5rem;
}

.PhotoStairs {
  border-radius: 0.5rem;
}

.PhotoBus {
  border-radius: 0.5rem;
}

.PhotoCiel2 {
  border-radius: 0.5rem;
}

.PhotoFin {
  border-radius: 0.5rem;
}

.Bebe {
  font-style: italic;
  font-size: 75%;
}

.Star {
  font-style: italic;
  font-size: 75%;
}

.Dake {
  font-style: italic;
  font-size: 35%;
}

.Texte1 {
  border-width: 2px;
  border-style: solid;
  border-color: #578bda;
  font-style: italic;
}

.Park {
  font-style: italic;
  font-size: 75%;
}

.Boots {
  font-style: italic;
  font-size: 75%;
}

.Camcam {
  font-style: italic;
  font-size: 75%;
}
